body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #af382d;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
    font-size: 1.2em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #af382d;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #af382d;
    color: white;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        width: 80%;
        margin-bottom: 20px;
    }
}